rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read: if true;
      allow write: if false;
    }
    match /payments/{txId} {
      allow create: if true;
      allow read, update, delete: if false;
    }
  }
}
